
	Body{
		background-image:url("../imagenes/fondo1.jpg");
		font-family: "arial", "courier new";
		color:#020202;
		font-size:20px;
	}
	P{
		text-align:justify;
		color:#020202;
		font-size: 10px;
	}
	table,tr,td{
		border: 3px solid;
		border-color:#A28FCF ;
		background-color: #D5C6FA ;
	}
	th{
		background-color:#D5C6FA;
		border:2px solid;
		border-color:#D5C6FA
	}
	.pie{
		font-family:"Love You";
		font-size:13px;
		color:#020202;
		text-align:center;
		font-weight: bold;
	}
	.titulo{
		font-family: "foto";
		font-size:38px;
		color:#020202;
		text-align:center;
	}
	.subtitulo{
		font-family: "han";
		font-size:35px;
		color:#020202;
		text-align:center;
		
	}
	.dep{
		font-family: "spring";
		font-size:25px;
		color:#020202;
	text-align:center;}
	
	.tablas{
		font-family:"spring";
		font-size:23px;
		color:#020202;
		text-align:center;
	}
	ul{
		list-style-type:circle;
		list-style-image:inside;
	}
	ol{
		list-style-type:upper-roman;
		list-style-position:inside;
	}
	.marquee{
		height: 350px;
		width:400px;
	}
	.hipervinculos{
		height:90px;
		width:90px;
		border-radius:10%;
	}
	.itablas{
		height:170px;
		width:200px;
	}
	.otrasimg{
		height:400px;
		width:300;
		border: 2px solid #020202;
	}
	/*titulos*/
	@font-face{
		font-family:foto;
		src: url(../fuentes/foto.ttf);
		
	}
	/*pie*/
	@font-face{
		font-family:Love You;
		src: url(../fuentes/Love You.ttf);
		
	}
	/*subtitulos*/
	@font-face{
		font-family:han;
		src: url(../fuentes/han.ttf);
	}
	/*tablas*/
	@font-face{
		font-family:spring;
		src: url(../fuentes/spring.ttf);
	}
	*{
		margin:0px;
		padding:0px;
	}
	div#top{
		width:100%;
		height:150px;
		background-image:linear-gradient(#757DCE ,#B4BAF4   );
	}
	div#principal{
		margin:auto;
		margin-top:20px;
		width:80%;
		height:700px;
		background-color:#B4BAF4;
	}
	div#pp{
		margin:auto;
		margin-top:20px;
		width:80%;
		height:500px;
		background-color:#B4BAF4;
	}
	div#pep{
		margin:auto;
		margin-top:20px;
		width:80%;
		height:1000px;
		background-color:#B4BAF4;
	}

	div#pie{
		margin-top:3px;
		width:100%;
		height:90px;
		background-image:linear-gradient(#B4BAF4 ,#757DCE  );
	}
	div#botones{
		margin-top:120px;
		width:100%;
		height:100px;
		background-color:#B4BAF4 ;
	}
	div#descripcion{
		margin-top:20px;
		width:100%;
		background-color:#B4BAF4;
	}
	.caja {
		height:300px;
		width:250px;
		background:#D9BEF7;
		border:1px solid #020202;
		margin: 5px;
		color:black;
		text-align:center;
		display: inline-block;
	}
	.caja:hover{
		box-shadow:0 0 10px blue;
		transform:scale(1.3);
	}
	.cajatexto{
		padding-top:5px;
		padding-bottom:5px;
		font-size:20px;
		color:#020202;
		font-weight:bold;
	}
	.tetxo-adicional{
		padding-top:5px;
		font-size:15px;
	}
	.carrousel{
		width:800px;
		margin:auto;
		box-sizing:border-box;
	}
	.contecarrousel{
		width:100%;
		height:600px;
		box-sizing:border-box;
		overflow: hidden;
	}
	.itemcarrousel{
		position:relative;
		width:100%;
		height:100%;
		box-sizing: border-box;
	}
	.itemcarrouseltarjeta{
		width:100%;
		height:100%;
		box-sizing:border-box;
	}
	.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px;
    box-sizing: border-box;
}
	.itemcarrouselarrows > i:hover {
    cursor: pointer;
}
	.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.conteCarrouselController > a{
    text-decoration: none;
    font-size: 32px;
    color: grey;
}
	.itemCarrouselArrows > a > i{
    color: white;
}
.menu{
	height:100px;
	width:100px;
	background-image:radial-gradient;
	margin:5px;
	color:black;
	text-align: center;
	display:inline-block;
	
}
.menu:hover{
	box-shadow:0 0 10px blue;
	transform:scale(1.3);
}
	
	
